body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),url(../imagenes/portada.ico);
    background-attachment: fixed;
    background-repeat: repeat;
    
    
}

.contenedor{
    position: relative;
    width: 500px;
    height: 750px;
    background: #6cbfe6ec;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.5)
}

.contenedor .head{
    height: 250px;
    width: 100%;
    position: relative;

}

.contenedor .head .Foto_de_perfil{
    position: absolute;
    width: 500px;
    height: 550px;
    border-radius: 50%;
    background: #003147;
    bottom: 0;
}


.contenedor .head .Foto_de_perfil .Foto{
    width: 150px;
    height: 150px;
    position: absolute;
    background: #6cbfe6c0;
    padding: 5px;
    border-radius: 50%;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%);
}

.contenedor .head .Foto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.contenedor .description{
    height: 200px;
    padding: 40px 20px 20px;
    text-align: center;
}

.contenedor .description h2{
    text-align: center;
    color: #0f003a;
}

.contenedor .description h3{
    text-align: center;
    color: #080808;
    border-bottom: solid 3px rgb(6, 74, 76, .18); 
}

.contenedor .description p{
    position: relative;
    text-align: left;
    color: black;
}
.contenedor .description a{
    object-fit: cover;
    color: aliceblue;
    background-color: #003147;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 70px;
    height: 30pxpx;
}
